.icon {
  font-size: 20px;
  color: #92929d;
  margin-right: 10px;
  margin-left: 20px;
}

.sideMenuTitle {
  font-family: MulishBold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.outerCustomer {
  margin: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  flex-direction: column;
  border-radius: 10;
}

.innerCustomer {
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10;
}
