.ant-layout .ant-layout-header {
  line-height: 15px;
  background-color: #ffff;
  border-bottom: 1px solid #e2e2ea;
}

.header {
  font-family: MulishBold;
  border-color: grey;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  color: #92929d;
  font-size: 20px;
  margin-right: 20px;
}

.greySquare {
  height: 35px;
  width: 35px;
  background-color: #e2e2ea;
  border-radius: 10px;
  margin-right: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerSubTitle {
  font-family: MulishRegular;
  color: #92929d;
  font-size: 12px;
}

.userName {
  display: flex;
  flex-direction: column;
}

.headerTitle {
  font-size: 22px;
}
