@font-face {
  font-family: 'MulishBlack';
  src: local('MulsihBlack'), url('./fonts/Mulish-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'MulishLight';
  src: local('MulsihLight'), url('./fonts/Mulish-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MulishRegular';
  src: local('MulsihRegular'),
    url('./fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MulishBold';
  src: local('MulsihBold'), url('./fonts/Mulish-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'MulishBlack';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'MulishBlack';
}
